
​
<div class="form">
        <%= simple_form_for([ @cocktail, @dose ]) do |form| %>
          <%= form.association :ingredient %>
          <%= form.input :description %>
          <%= form.button :submit, class: "btn btn-success" %>
          <h1>HElp</h1>
        <% end %>
​
</div>
<%= link_to "Go back", cocktails_path, class: "btn btn-warning btn-sm" %>
</div>


